spring/HELP.md
target/
!spring/.mvn/wrapper/maven-wrapper.jar
!**/spring/src/main/**/target/
!**/spring/src/test/**/target/

### STS ###
spring/.apt_generated
spring/.classpath
spring/.factorypath
spring/.project
spring/.settings
spring/.springBeans
spring/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
spring/nbproject/private/
spring/nbbuild/
spring/dist/
spring/nbdist/
spring/.nb-gradle/
spring/build/
!**/spring/src/main/**/build/
!**/spring/src/test/**/build/

### VS Code ###
.vscode/

### H2
data
